* {
	box-sizing: border-box;
}
	
body {
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1 {
	font-size: 2.5vw;
	color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-size: 2vw;
	color: #fff;
    text-shadow: 2px 2px 4px #000000;
}  

section {
    box-shadow: 5px 10px 18px #000000;
}

table {
    width: 100%;
    /* no double borders 
       for adjacent cells */
    border-collapse: collapse;
    font-size: 1.2vw;
}

/* table headings */
th {
    background-color: #cccccc;
    color: #373737;
    border: #cccccc solid 2px;
    box-shadow: 1px 1px #cccccc, 2px 2px #cccccc, 3px 3px #cccccc;
    text-align: left;
}

/* Table headings and cells */
th, td {
    padding: 11px;
}

/* odd rows */
tr:nth-child(odd) {
    background-color: #7d7d7d;
    color: #fff;
    border: #7d7d7d solid 2px;
    box-shadow: 1px 1px #7d7d7d, 2px 2px #7d7d7d, 3px 3px #7d7d7d;
}

/* even rows */
tr:nth-child(even) {
    background-color: #373737;
    color: #fff;
    border: #373737 solid 2px;
    box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737;
}

/* first column of the table */
td:first-child {
    font-weight: bold;
}



.link {
	font-size: 1.5vw;
    text-shadow: 2px 2px 4px #000;
}

/* for Twitter, GitHub icon */
.fa {
	padding-left: 10px;
	font-size: 1.5vw;
	text-decoration: none;
	margin: 5px 2px;
    text-shadow: 2px 2px 4px #000;
}

.fa:hover {
    opacity: 0.7;
	text-decoration: none;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-github {
	color: #000000;
}

span {
	color: aliceblue;
}