* {
	box-sizing: border-box;
}
	
body {
	background-image: radial-gradient(circle, #ee4b2b, #553c9a);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1 {
	font-size: 2.5vw;
	color: #fff;
}

h2 {
    font-size: 2vw;
	color: #fff;
}  


table {
    width: 100%;
    /* no double borders 
       for adjacent cells */
    border-collapse: collapse;
    font-size: 1.2vw;
}

/* table headings */
th {
    background-color: #cccccc;
    color: #373737;
    border: #cccccc solid 2px;
    box-shadow: 1px 1px #cccccc, 2px 2px #cccccc, 3px 3px #cccccc, 4px 4px #cccccc, 5px 5px #cccccc, 6px 6px #cccccc, 7px 7px #cccccc, 8px 8px #cccccc, 9px 9px #cccccc, 10px 10px #cccccc, 11px 11px #cccccc, 12px 12px #cccccc;
    text-align: left;
}

/* Table headings and cells */
th, td {
    border: #cccccc solid 2px;
    padding: 11px;
}

/* odd rows */
tr:nth-child(odd) {
    background-color: #7d7d7d;
    color: #fff;
    border: #7d7d7d solid 2px;
    box-shadow: 1px 1px #7d7d7d, 2px 2px #7d7d7d, 3px 3px #7d7d7d, 4px 4px #7d7d7d, 5px 5px #7d7d7d, 6px 6px #7d7d7d, 7px 7px #7d7d7d, 8px 8px #7d7d7d, 9px 9px #7d7d7d, 10px 10px #7d7d7d, 11px 11px #7d7d7d, 12px 12px #7d7d7d;
}

/* even rows */
tr:nth-child(even) {
    background-color: #373737;
    color: #fff;
    border: #373737 solid 2px;
    box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737, 5px 5px #373737, 6px 6px #373737, 7px 7px #373737, 8px 8px #373737, 9px 9px #373737, 10px 10px #373737, 11px 11px #373737, 12px 12px #373737;
}

/* first column of the table */
td:first-child {
    font-weight: bold;
}



.link {
	font-size: 1.5vw;
}

/* for Twitter, GitHub icon */
.fa {
	padding-left: 10px;
	font-size: 1.5vw;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
	text-decoration: none;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-github {
	color: #000000;
}

span {
	color: aliceblue;
}